## Melbourne households

Collect the number of households and population in each postcodes

In [30]:
import numpy as np
import pandas as pd

In [31]:
### Load population

In [32]:
# Place of residence
poa_residence = pd.read_csv("../data/raw/2016 Census GCP Postal Areas for VIC/2016Census_G03_VIC_POA.csv", low_memory=False)
poa_residence.shape

(698, 141)

In [33]:
poa_residence.head()

,POA_CODE_2016,Count_home_Census_Nt_0_14_yr,Count_hom_Census_Nt_15_24_yr,Count_hom_Census_Nt_25_34_yr,Count_hom_Census_Nt_35_44_yr,Count_hom_Census_Nt_45_54_yr,Count_hom_Census_Nt_55_64_yr,Count_hom_Census_Nt_65_74_yr,Count_hom_Census_Nt_75_84_yr,Count_hom_Census_Nt_85ov,...,Total_0_14_yr,Total_15_24_yr,Total_25_34_yr,Total_35_44_yr,Total_45_54_yr,Total_55_64_yr,Total_65_74_yr,Total_75_84_yr,Total_85ov,Total_Total
0,POA3000,1183,15064,13255,3437,1683,1188,671,179,69,...,1495,16540,15606,5657,4342,3378,1691,396,96,49192
1,POA3002,284,398,1341,694,541,614,494,171,136,...,375,516,1616,913,779,867,683,262,180,6196
2,POA3003,389,1076,2127,815,465,253,152,51,12,...,399,1117,2207,853,496,281,165,60,12,5588
3,POA3004,553,1032,2697,1447,923,889,791,295,235,...,593,1173,3011,1756,1281,1224,1044,442,341,10861
4,POA3005,45,74,173,88,59,38,26,5,0,...,51,92,237,183,139,114,48,10,0,879

In [34]:
poa_residence.POA_CODE_2016.nunique()

698

In [35]:
poa_residence.columns

Index(['POA_CODE_2016', 'Count_home_Census_Nt_0_14_yr',
       'Count_hom_Census_Nt_15_24_yr', 'Count_hom_Census_Nt_25_34_yr',
       'Count_hom_Census_Nt_35_44_yr', 'Count_hom_Census_Nt_45_54_yr',
       'Count_hom_Census_Nt_55_64_yr', 'Count_hom_Census_Nt_65_74_yr',
       'Count_hom_Census_Nt_75_84_yr', 'Count_hom_Census_Nt_85ov',
       ...
       'Total_0_14_yr', 'Total_15_24_yr', 'Total_25_34_yr', 'Total_35_44_yr',
       'Total_45_54_yr', 'Total_55_64_yr', 'Total_65_74_yr', 'Total_75_84_yr',
       'Total_85ov', 'Total_Total'],
      dtype='object', length=141)

In [36]:
poa_residence = poa_residence[["POA_CODE_2016", "Total_Total"]]

In [37]:
### Family composition
poa_family = pd.read_csv("../data/raw/2016 Census GCP Postal Areas for VIC/2016Census_G25_VIC_POA.csv", low_memory=False)
poa_family.shape

(698, 47)

In [38]:
poa_family.head()

,POA_CODE_2016,CF_no_children_F,CF_no_children_P,CF_ChU15_a_DSs_a_NdCh_F,CF_ChU15_a_DSs_a_NdCh_P,CF_ChU15_a_DSs_a_no_NdCh_F,CF_ChU15_a_DSs_a_no_NdCh_P,CF_ChU15_a_no_DSs_a_NdCh_F,CF_ChU15_a_no_DSs_a_NdCh_P,CF_ChU15_a_no_DSs_a_no_NdCh_F,...,OPF_no_ChU15_no_DSs_a_NdCh_F,OPF_no_ChU15_no_DSs_a_NdCh_P,OPF_no_ChU15_a_Total_F,OPF_no_ChU15_a_Total_P,OPF_Total_F,OPF_Total_P,Other_family_F,Other_family_P,Total_F,Total_P
0,POA3000,3640,7189,0,3,22,89,5,32,678,...,121,252,276,622,420,970,883,1858,5804,12790
1,POA3002,749,1450,0,0,18,70,0,5,141,...,26,56,38,78,62,140,29,59,1107,2532
2,POA3003,678,1333,0,7,19,75,0,0,190,...,36,68,46,104,76,186,71,146,1087,2606
3,POA3004,1510,2936,0,8,17,81,0,3,298,...,64,120,118,245,188,399,95,189,2223,4932
4,POA3005,60,107,0,0,0,4,0,0,25,...,8,8,4,17,7,23,4,12,99,232

In [39]:
poa_family.columns

Index(['POA_CODE_2016', 'CF_no_children_F', 'CF_no_children_P',
       'CF_ChU15_a_DSs_a_NdCh_F', 'CF_ChU15_a_DSs_a_NdCh_P',
       'CF_ChU15_a_DSs_a_no_NdCh_F', 'CF_ChU15_a_DSs_a_no_NdCh_P',
       'CF_ChU15_a_no_DSs_a_NdCh_F', 'CF_ChU15_a_no_DSs_a_NdCh_P',
       'CF_ChU15_a_no_DSs_a_no_NdCh_F', 'CF_ChU15_a_no_DSs_a_no_NdCh_P',
       'CF_ChU15_a_Total_F', 'CF_ChU15_a_Total_P',
       'CF_no_ChU15_a_DSs_a_NdCh_F', 'CF_no_ChU15_a_DSs_a_NdCh_P',
       'CF_no_ChU15_a_DSs_a_no_NdCh_F', 'CF_no_ChU15_a_DSs_a_no_NdCh_P',
       'CF_no_ChU15_a_no_DSs_a_NdCh_F', 'CF_no_ChU15_a_no_DSs_a_NdCh_P',
       'CF_no_ChU15_a_Total_F', 'CF_no_ChU15_a_Total_P', 'CF_Total_F',
       'CF_Total_P', 'OPF_ChU15_a_DSs_a_NdCh_F', 'OPF_ChU15_a_DSs_a_NdCh_P',
       'OPF_ChU15_a_DSs_a_no_NdCh_F', 'OPF_ChU15_a_DSs_a_no_NdCh_P',
       'OPF_ChU15_a_no_DSs_a_NdCh_F', 'OPF_ChU15_a_no_DSs_a_NdCh_P',
       'OPF_ChU15_a_no_DSs_no_NdCh_F', 'OPF_ChU15_a_no_DSs_no_NdCh_P',
       'OPF_ChU15_a_Total_F', 'OPF_ChU15_a_Total_P',
       'OPF_no_ChU15_a_DSs_a_NdCh_F', 'OPF_no_ChU15_a_DSs_a_NdCh_P',
       'OPF_no_ChU15_a_DSs_no_NdCh_F', 'OPF_no_ChU15_a_DSs_no_NdCh_P',
       'OPF_no_ChU15_no_DSs_a_NdCh_F', 'OPF_no_ChU15_no_DSs_a_NdCh_P',
       'OPF_no_ChU15_a_Total_F', 'OPF_no_ChU15_a_Total_P', 'OPF_Total_F',
       'OPF_Total_P', 'Other_family_F', 'Other_family_P', 'Total_F',
       'Total_P'],
      dtype='object')

In [40]:
poa_family = poa_family[["POA_CODE_2016", "Total_F"]]

In [41]:
poa_family = poa_family.merge(poa_residence, how="left", left_on="POA_CODE_2016", right_on="POA_CODE_2016")
poa_family.shape

(698, 3)

In [42]:
poa_family.head(10)

  POA_CODE_2016  Total_F  Total_Total
0       POA3000     5804        49192
1       POA3002     1107         6196
2       POA3003     1087         5588
3       POA3004     2223        10861
4       POA3005       99          879
5       POA3006     3965        22958
6       POA3008     2452        11612
7       POA3010       11         1914
8       POA3011     4832        21598
9       POA3012     6479        26007

In [43]:
poa_family.rename(columns={"POA_CODE_2016":"POA_CODE16","Total_F":"Total Households", "Total_Total": "Population"}, inplace=True)

In [46]:
# Remove POA in the name of POA_CODE
poa_family.POA_CODE16 = poa_family.POA_CODE16.apply(lambda x: x[-4:])

In [49]:
poa_family["Total Households"].describe()

count      698.000000
mean      2195.598854
std       3333.703804
min          0.000000
25%        153.500000
50%        655.500000
75%       3208.500000
max      26769.000000
Name: Total Households, dtype: float64

In [52]:
poa_family[poa_family["Total Households"] == 0].shape

(5, 3)

In [50]:
poa_family["Population"].describe()

count      698.000000
mean      8416.386819
std      12711.413727
min          0.000000
25%        584.000000
50%       2497.000000
75%      12174.250000
max      99565.000000
Name: Population, dtype: float64

In [51]:
poa_family[poa_family["Population"] == 0].shape

(1, 3)

In [47]:
poa_family.to_csv("../data/processed/poa_households.csv", index=False)